<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.opensource.legosdk.uimodules.imagepreviewer">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".LGOImagePreviewerFragmentActivity" />
        <meta-data android:name="LGOModule.UI.ImagePreviewer" android:value="com.opensource.legosdk.uimodules.imagepreviewer.LGOImagePreviewer" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
