<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.opensource.legosdk.uimodules.alertview">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <meta-data android:name="LGOModule.UI.AlertView" android:value="com.opensource.legosdk.uimodules.alertview.LGOAlertView" />

    </application>

</manifest>
