<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.opensource.legosdk.webview.pack">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <provider
            android:authorities="com.opensource.legosdk.webview.pack.contents"
            android:name=".LGOPackContentProvider" />

    </application>

</manifest>
